.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    // background: rgb(2,0,36);
    // background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(28,28,62,0.7175245098039216) 35%, rgba(0,212,255,1) 100%);
    padding: 10px;
  }