.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }


  @media (max-width: 500px) {
    .grid-container {
      grid-template-columns: auto;
    }
  }

  #toTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  #toTopBtn:hover {
    background-color: #555;
  }