.type-pill{
    border-style: solid;
    border-width:1px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 6px;
}

ul {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    text-align: left;
}

@media (max-width: 500px) {
    ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        text-align: center;
    }
  }